extends layout

block content
  h1= "MESSAGES"
  a(href = "/new") New Message
  ul
    each val in messages
      li
        | <p><span class = "userName">#{val.user} </span>(#{val.added})</p>
        p= val.text

